.form-control {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
}

.form-control label {
  flex-basis: 40%;
  text-align: start;
}

.form-control input {
  border: none;
  margin-bottom: 0.1rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}
