.form-control {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
}

.form-control label {
  text-align: start;
}

input:focus {
  outline: none !important;
}

.form-control input {
  border-width: 0px;
  border: none;
  outline: 0;
  background-color: #fff;
}

.form-control input.last-input {
  background-color: #fff;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.form-profile {
  width: 32rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.salary-form {
  margin-top: 2rem;
  text-align: center;
}

/* .salary-form button {
  margin-left: 50%;
} */

.form-control label {
  flex-basis: 35%;
  flex-shrink: 1;
  flex-grow: 1;
}
.form-control input,
select,
p {
  flex-basis: 65%;
  flex-shrink: 2;
  flex-grow: 2;
}

.btn-gr {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.login-btn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
}
