.form-control {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
}

.form-control label {
  flex-basis: 40%;
  text-align: start;
}

input:focus {
  outline: none !important;
}

.form-control input {
  border-width: 0px;
  border: none;
  outline: 0;
  flex-basis: 70%;
  background-color: #eee;
}

.form-control input.last-input {
  background-color: #fff;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.form-profile {
  width: 32rem;
  max-width: 90%;
  margin: auto;
  display: block;
}
